h6
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: fixed;
}
body
{
background-image:url("bg.jpg");
}
h1
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:blue;
    font-style: italic;
}
h4
{
font-family: Arial, Helvetica, sans-serif;
font-style: oblique;
}
#camera
{
    border-color: black;
}
img:hover
{
    border-radius: 150px;
}
img
{
    border-color:white;
}
